$color-white: #ffffff;
$color-pale-white: rgba(255, 255, 255, 0.8);
$border-color: rgba(255, 255, 255, 0.5);
$color-black: #222222;
$color-cyan: #4dd0e1;
$color-navy: #054580;
$bc-card: $color-navy;
$bc-cover-color: rgba(28, 29, 39, 0.2);
$digit-size: 27px;
$color-textShadow: rgba(14, 42, 90, 0.8);
$color-boxShadow: rgba(14, 42, 90, 0.55);
$color-cvvBoxShadow: rgba(32, 56, 117, 0.35);
$fs-cvv: 15px;
$fs-cvvValue: 18px;

* {
  box-sizing: border-box;
}

.p-card__box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-130px);
  -webkit-transform: translateX(-50%) translateY(-130px);
  box-sizing: border-box;
  perspective: 860px;
  transform-style: preserve-3d;
  &.-active .p-card {
    transform: rotateY(-180deg);
  }
  &.-active .p-card__back {
    transform: rotateY(0deg);
  }
}

.p-card__box-content {
  position: relative;
}

.p-card {
  position: relative;
  width: 430px;
  height: 270px;
  padding: 25px 15px;
  box-sizing: border-box;
  z-index: 1;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: 1s cubic-bezier(0.85, 0, 0.15, 1);
  background-color: $bc-card;
  box-shadow: 0px 20px 60px $color-boxShadow;
  border-radius: 15px;

  * {
    position: relative;
    z-index: 3;
  }
}

.p-card__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bc-cover-color;
  border-radius: 15px;
  z-index: 2;
  top: 0;
  left: 0;
}

.p-card__mask-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bc-cover-color;
  border-radius: 15px;
  z-index: 4;
  top: 0;
  left: 0;
}

.p-card__back {
  top: 0;
  left: 0;
  position: absolute;
  background-color: $bc-card;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: 1s cubic-bezier(0.85, 0, 0.15, 1);
  width: 100%;
  box-shadow: 0px 20px 60px $color-boxShadow;
  border-radius: 15px;
  * {
    z-index: 3;
  }
}

.p-card__back-contentBox {
  position: relative;
}

.p-card__back-content {
  position: relative;
  width: 100%;
  min-height: 240px;
}

@mixin focus-border {
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border 0.5s linear;
  &.-active {
    border: 2px solid $border-color;
  }
}

.p-card__top {
  margin-bottom: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.p-card__top-visaLogo {
  max-height: 36px;
}

.p-card__cardNumber {
  @include focus-border;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 30px;
}

.p-card__cardNumber-block {
  display: flex;
  justify-content: flex-start;
}

.p-card__cardNumber-digitBox {
  // perspective: 65px;
  // transform-style: preserve-3d;
  height: 32.5px;
  width: 19px;
  &.-active .p-card__cardNumber-digit {
    top: -100%;
    opacity: 1;
    display: inline-block;
    transition: 0.1s top opacity linear;
  }
  &.-active .p-card__cardNumber-digitDefault {
    top: -50%;
    opacity: 0;
  }
}

.p-card__cardNumber-digitDefault {
  color: $color-white;
  font-size: $digit-size;
  font-style: italic;
  width: 19px;
  text-shadow: 7px 6px 10px $color-textShadow;
  display: inline-block;
  opacity: 1;
  transition: 0.5s cubic-bezier(0.73, 1.65, 0.84, 0.92);
  top: 0;
  left: 0;
}

.p-card__cardNumber-digit {
  color: $color-white;
  font-size: $digit-size;
  font-style: italic;
  width: 19px;
  display: none;
  opacity: 0;
  text-shadow: 7px 6px 10px $color-textShadow;
  transition: opacity 1s linear;
  top: 0;
  left: 0;
}

.p-cardNumber-secret {
  font-size: 45px;
  line-height: 32.5px;
  top: 8px;
}

.p-card__content {
  display: flex;
}

.p-card__holderName {
  @include focus-border;
  width: calc(100% - 85px);
  padding: 10px 15px;
  text-align: left;
  margin-right: 30px;
}

.p-card__holderName-label {
  font-size: 13px;
  margin: 0;
  margin-bottom: 6px;
  color: $color-pale-white;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__holderName-name {
  font-size: 18px;
  margin: 0;
  color: $color-white;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__expirationDate {
  @include focus-border;
  padding: 10px;
}

.p-card__expirationDate-label {
  font-size: 13px;
  margin: 0;
  margin-bottom: 6px;
  color: $color-pale-white;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__expirationDate-date {
  color: $color-white;
  font-size: 18px;
  margin: 0;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__band {
  margin-top: 30px;
  background-color: $color-black;
  height: 50px;
  width: 100%;
  content: "";
}

.p-card__cvv-box {
  padding: 15px;
}

.p-card__cvv-label {
  text-align: right;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: $fs-cvv;
  color: $color-white;
}

.p-card__cvv-value {
  height: 45px;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding-right: 10px;
  background-color: $color-white;
  text-align: right;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -7px $color-cvvBoxShadow;
  font-size: $fs-cvvValue;
  line-height: 45px;
}

.p-card__back-logoBox {
  text-align: right;
  padding-right: 15px;
}

.p-card__back-logo {
  height: 36px;
}
