$color-white: #ffffff;
$color-black: #222222;
$color-cyan: #4dd0e1;
$digit-size: 24px;
$color-textShadow: rgba(14, 42, 90, 0.8);

.p-card {
  position: absolute;
  width: 430px;
  height: 270px;
  background-color: $color-cyan;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-130px);
  -webkit-transform: translateX(-50%) translateY(-130px);
  padding: 25px 15px;
  box-sizing: border-box;
  border-radius: 15px;
}

.p-card__top {
  margin-bottom: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.p-card__top-visaLogo {
  max-height: 36px;
}

.p-card__cardNumber {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 30px;
}

.p-card__cardNumber-block {
  display: flex;
  justify-content: flex-start;
}

.p-card__cardNumber-digit {
  color: $color-white;
  font-size: $digit-size;
  font-style: italic;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__content {
  display: flex;
}

.p-card__holderName {
  width: calc(100% - 85px);
  padding: 10px 15px;
  text-align: left;
}

.p-card__holderName-label {
  font-size: 13px;
  margin: 0;
  margin-bottom: 6px;
  color: $color-white;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__holderName-name {
  font-size: 18px;
  margin: 0;
  color: $color-white;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__expirationDate {
  padding: 10px;
}

.p-card__expirationDate-label {
  color: $color-white;
  text-shadow: 7px 6px 10px $color-textShadow;
}

.p-card__expirationDate-date {
  color: $color-white;
  text-shadow: 7px 6px 10px $color-textShadow;
}
