$fs-label: 14px;
$fs-input: 18px;
$fs-btn: 22px;

$bc-input: #ced6e0;
$bc-input-hover: #3d9cff;
$bc-btn: #2364d2;

.p-creditCardForm {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  background-color: #ffffff;
}

.p-form {
  width: 100%;
  padding: 200px 100px 50px 100px;
  box-sizing: border-box;
}

.p-form__group {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  &.-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.p-form__subGroup {
  text-align: left;
  display: block;
  &.-mr35 {
    margin-right: 35px;
  }
}

.p-form__label {
  font-size: $fs-label;
  display: block;
  margin-bottom: 5px;
}

.p-form__input {
  font-size: $fs-input;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $bc-input;
  transition: border 0.5s ease;
  padding: 5px 15px;
  height: 50px;
  box-sizing: border-box;
  &.-w150 {
    width: 150px;
  }
  &:focus,
  &:hover {
    border: 1px solid $bc-input-hover;
  }
}

.p-form__select {
  font-size: $fs-input;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid $bc-input;
  transition: border 0.5s ease;
  padding: 5px 30px 5px 15px;
  display: inline-block;
  box-sizing: border-box;
  &.-w150 {
    width: 150px;
  }
  &.-mr15 {
    margin-right: 15px;
  }
  &:focus,
  &:hover {
    border: 1px solid $bc-input-hover;
  }
}

.p-form__button {
  box-sizing: border-box;
  background-color: $bc-btn;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  width: 100%;
  height: 55px;
  font-size: $fs-btn;
  box-shadow: 3px 10px 20px 0px $bc-btn;
  cursor: pointer;
  &:focus,
  &:active {
    border: none;
  }
}
