html,
body,
#root,
.App {
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: #ddeefc;
  margin: 0;
  position: relative;
}

.AppBody {
  position: relative;
  min-height: 1000px;
  content: "";
}
